.song {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  height: max-content;
  color: whitesmoke;
  font-family: 'Roboto';
}

#img-container, #info-container {
  height: 350px;
  padding: 25px;
}

#info-container h2 {
  font-size: 1.7em;
  margin: 20px 0 10px 0;
}

.img {
  width: 300px;
}

.info {
  width: max-content;
  padding: 5px;
}

#artist {
  margin-bottom: 60px;
}
